@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1F1F1F;
  --gray: #3A3A3A;
}

body {
  background-color: var(--black);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.75rem;
}

@layer base {
  h1 { @apply text-3xl font-semibold }
  h2 { @apply text-xl font-medium }
  a { @apply text-blue-400 }
}

.no-scrollbar {
  scrollbar-width: none;
}
